extends layout
block content
    each product, id in shop.products
        article.col-xs-12.col-md-3.product
            a.title(href="product/"+id)= product.name
            img.col-md-12(src=product.photo)
            p.text= product.description